{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h2> {{ host.hostname }} Info</h2>
    <article class="media content-section">
        <div class="media-body">
            <div class="article_metadata">
                <h2 class="article_title">{{ host.hostname }}</h2>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_host', host_id=host.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            ip: <small class="text-muted">{{ host.ip_address }}</small>
            os: <small class="text-muted">{{ host.os }}</small>
            Status: <small class="text-muted">{{ host.last_sync_state }}</small>
            Last synced: <small class="text-muted">{{ host.last_sync }}</small>
        </div>
    </article>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete host?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_host', host_id=host.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
    </div>
{% endif %}
{% endblock content %}