{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h2> Информация об узле</h2>
    <article class="media content-section">
        <div class="media-body">
            <div class="article_metadata">
                <h2 class="article_title">{{ host.hostname }}</h2>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('update_host', host_id=host.id) }}">Редактировать</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Удалить</button>
            </div>
            <small class="text-muted">Группа:</small>{{  host.hostgroup.group_name }}<br>
            <small class="text-muted">ip-адрес:</small>{{ host.ip_address }}<br>
            <small class="text-muted">ОС:</small>{{ host.os }}</small><br>
            <small class="text-muted">Статус:</small>{{ host.last_sync_state }}<br>
            <small class="text-muted">Последняя синхронизация:</small>{{ host.last_sync }}<br>
            Плейбуки: 
            {% for member in host.hpbooks %}
            <ul class="list-group">
              <li class="list-group-item">{{ member.pb_name }}</a><a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('run_task', host_id=host.id) }}">Запустить</a></li>
            </ul>
            {% endfor %}
        </div>
    </article>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Удалить узел?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <form action="{{ url_for('delete_host', host_id=host.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
    </div>
{% endif %}
{% endblock content %}