{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h2> Плейбук </h2>
<article class="media content-section">
    <div class="media-body" white-space: pre-wrap;>
        <div class="article_metadata">
            <h2 class="article_title">{{ filename }}</h2>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('playbook_edit', file = filedir + '/', filename=filename) }}">Изменить</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('rm', path = filedir + '/', filename=filename) }}">Удалить</a>
        </div>
        <p  class="article-content"><pre>{{ playbook }}</pre></p>
    </div>
</article>
{% endif %}
{% endblock content %}