{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<h2> Настройки приложения</h2>
<article class="media content-section">
    <div class="media-body">
        <div class="article_metadata">
            <h4 class="article_title">Настройки синхронизации</h4>
        </div>
        <form method="POST" , action="">
            <div class="form-group">
                <label for="sync_period">Период синхронизации (в минутах)</label>
                <input type="text" class="form-control" id="sync_period">
                <label for="sync_timeout">Считать узел неактивным после (в минутах)</label>
                <input type="text" class="form-control" id="syn_timeout">
            </div>
            <div class="article_metadata">
                <h4 class="article_title">Настройки запуска</h4>
                <div class="form-group">
                    <label for="run_user">Имя пользователя для запуска задачи (по умолчанию - root)</label>
                    <input type="text" class="form-control" id="sync_period">
                    <label for="conn_timeout">Таймаут подключения (в секундах)</label>
                    <input type="text" class="form-control" id="syn_timeout">
                </div>
            </div>
        </form>
        <div class="form-group">
            <a class="btn btn-sm btn-success btn-sm mt-1 mb-1" href="{{ url_for('host_list') }}">Применить</a>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('host_list') }}">Отменить</a>
        </div>
    </div>
</article>
{% endif %}
{% endblock content %}